@import url(reset.css);

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 50px;
    height: 323px;
    display: flex;
    justify-content: space-between;
    background-color: #445162;
    align-items: flex-start;
}
.header-text {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
}
.header-text h1 {
    font-size: 60px;
    margin-bottom: 25px;
}
.header-text ul {
    font-size: 20px;
    line-height: 36px;
}
.header-text li::before {
    content: url(/img/checked.png);
    margin-right: 10px;
}

.whatis {
    height: 290px;
    padding: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.whatis-pic {
    margin-right: 40px;
}
.whatis-text h2 {
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}
.whatis-text p {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.columns {
    background-color: #f5f5f5;
    padding: 50px;
}
.columns-headline {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin-bottom: 30px;
}
.columns-blocks {
    display: flex;
    flex-wrap: wrap;
}
.columns-blocks__section {
    display: flex;
    flex: 0 1 48%;
    margin-bottom: 30px;
    margin-right: 10px;
}
.section-block{
    margin-right: 15px;
}
.section-text h3 {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
}
.section-text p {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.vert {
    padding: 50px 145px;
}
.vert-headline {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin-bottom: 30px;
}
.card-container {
    display: flex;
}
.card {
    flex: 0 1 33%;
    background-color: #445162;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #445162;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
}
.card-header {
    font-size: 24px;
    text-transform: uppercase;
    padding: 18px 0;
    text-align: center;
}
.card-line {
    text-align: center;
    background-color: #fff;
    color: #445162;
    padding: 25px 0;
    font-size: 40px;
}
.card-body {
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    flex: 1 1 auto;
}
.card-button {
    text-align: center;
    background-color: #fff;
    margin: 20px;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
}
.footer {
    text-align: center;
    padding: 23px 0;
    background-color: #f5f5f5;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #445162;
}